@model DviraciuSurinktuve.Models.DetalePartialViewModel
<div id="detale-@Model.detalė.Id" class="detales-aprasymas" data-detId="@Model.detalė.Id">
<div class="apibudinimas">
    @Model.detalė.Apibūdinimas <a class="prideti-detale">(+)</a>
</div>
</div>