@{
    Layout = null;
}

<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DviraciuSurinktuve.Entities
@model DviraciuSurinktuve.Models.SurinktuveViewModel


    <ul>
        @foreach (DetaliųGrupė gr in Model.VisosGrupės)
        {
           <li>@gr.Pavadinimas</li>   
            <ul> 
             @foreach (Detalė det in gr.Detalės)
              { 
                  <li>@det.Pavadinimas</li>  
                             <ul> 
             @foreach (DetaliųJungtis jung in det.Jungtys)
              { 
                  <li>@jung.Pavadinimas - @jung.Grupė.Pavadinimas</li>  
              }
            </ul>
              }
            </ul>
        }
      </ul>
   